.skill-card .skill-card-inner img{
    width: 50px;
    height: 50px;
}
.skill-card .skill-card-inner{
    border: 2px solid var(--primary-bg);
    transition: 0.3s ease-in;
}
.skill-card:hover .skill-card-inner{
    border: 2px solid var(--primary-color);
}
@media only screen and (max-width: 600px) {
    .skill-card .skill-card-inner img{
        width: 35px;
        height: 35px;
    }
    .skill-card .skill-card-inner .number{
        font-size: 0.7rem;
    }
  }