.navbar .navbar-nav a{
    color: var(--color-white);
    margin: 0 1.2rem;
    font-weight: 500;
    font-size: 0.9rem;
}

.navbar .navbar-nav a.active{
    color: var(--color-white);
    border-bottom: 3px solid var(--primary-color);
}


.menu-bar button {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transform-origin: center center;
    transform: rotate(0deg);
    cursor: pointer;
    transition: transform 300ms ease;
  }
  .menu-bar button span {
    height: 3px;
    width: 35px;
    display: block;
    background: var(--color-white);
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    margin-left: auto;
  }
  .menu-bar button span:nth-child(2) {
    width: 40px;
    transition-delay: 200ms;
  }
  .menu-bar button span:nth-child(3) {
    width: 30px;
  }
  .menu-bar button span:nth-child(4) {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 3px;
    height: 0;
    transition: height 400ms;
  }
  @media only screen and (max-width: 991px) {
    .navbar-nav{
        background-color: var(--primary-bg);
        border-radius: 12px;
    margin-top: 15px;
      }
      .navbar .navbar-nav a{
        text-transform: uppercase;
        width: fit-content;
        margin: 0.2rem 1.2rem;
      }
  }
