:root {
  --font-family: "Sora", sans-serif;
  --color-light: #dddddd;
  --color-white: #fff;

  --primary-color: #8750f7;
  --secondary-color: #2a1454;
  --body-color: #0f0715;

  --primary-bg: #1a0f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
	scrollbar-color: var(--primary-color) var(--secondary-color);
}

::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	-webkit-border-radius: 1ex;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
	background: transparent;
}


body {
  min-height: 100vh;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  font-family: var(--font-family);
  color: var(--color-light);
  background-color: var(--body-color);
  scroll-behavior: smooth;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 322px;
  height: 308px;
  border-radius: 50%;
  background: var(--primary-color);
  background: -o-linear-gradient( 190deg, var(--primary-color) 0%, rgba(115, 67, 210, 0) 100% );
  background: linear-gradient( 260deg, var(--primary-color) 0%, rgba(115, 67, 210, 0) 100% );
  -webkit-filter: blur(150px);
  filter: blur(150px);
  margin-right: -5%;
  margin-top: -5%;
  z-index: -1;
}


p{
  margin: 0;
}

.primary-color{
  color: var(--primary-color);
}
.primary-bg{
  background-color: var(--primary-bg);
}
.grad-text{
  background: var(--primary-color);
  background: -webkit-gradient( linear, left top, right top, from(var(--primary-color)), to(var(--color-white)) );
  background: -o-linear-gradient( left, var(--primary-color) 0%, var(--color-white) 100% );
  background: linear-gradient( to right, var(--primary-color) 0%, var(--color-white) 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-padY{
  padding: 70px 0;
}
.hero-section{
  padding: 100px 0;
}
.section-title{
  width: fit-content;
}
.theme-bg-shadow::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--primary-color);
  background: -o-linear-gradient( 190deg, var(--primary-color) 0%, rgba(115, 67, 210, 0) 100% );
  background: linear-gradient( 260deg, var(--primary-color) 0%, rgba(115, 67, 210, 0) 100% );
  -webkit-filter: blur(150px);
  filter: blur(150px);
  margin-left: -40%;
  margin-bottom: -10%;
  z-index: -1;
}


.primary-btn {
  gap: 10px;
  background: var(--primary-color);
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1;
}


.primary-btn .icon_box{
	position: relative;
	display: inline-flex;
	overflow: hidden;
	padding: 0 4px;
	transform: rotate(-45deg);
}
.primary-btn .icon_box .icon_first,
.primary-btn .icon_box .icon_second {
	transition: all 0.3s ease-in-out 0s;
}
.primary-btn i {
	display: inline-flex;
	line-height: 1;
}


.primary-btn .icon_box .icon_second {
	position: absolute;
	transform: translateX(-150%);
}
.primary-btn:hover .icon_box .icon_first {
	transform: translateX(150%);
}
.primary-btn:hover .icon_box .icon_second {
	transform: translateX(0%);
}


.header-button.primary-btn .icon_box {
	transform: rotate(0);
}
.header-button.primary-btn .icon_box .icon_second {
	position: absolute;
	transform: translate(0) translateY(-150%);
}
.header-button.primary-btn:hover .icon_box .icon_first {
	transform: translateX(0) translateY(150%);
}
.header-button.primary-btn:hover .icon_box .icon_second {
	transform: translate(0) translateY(0);
}


.contact-info-list-3 {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 320px;
  width: 100%;
}

.contact-info-list-3 li > a, .contact-info-list-3 li > p {
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-white);
  transition: all 0.4s ease-in-out 0s;
  text-decoration: underline;
    text-decoration-thickness: auto;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.contact-info-list-3 li > a:hover {
  color: var(--primary-color);
}



.contact-form .form_group {
  margin-bottom: 30px;
}
.contact-form .form_group input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), 
.contact-form .form_group textarea {
  background: transparent;
  border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-bottom: 1px solid grey;
  border-radius: 0px;
  padding: 15px 0px 15px;
}

.contact-form .form_group input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):focus, 
.contact-form .form_group textarea:focus {
  border-bottom-color: var(--primary-color);
}
.form_group select, 
.form_group .nice-select, 
.form_group input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), 
.form_group textarea {
  display: block;
  width: 100%;
  background: var(--tj-black-2);
  border: 1px solid var(--tj-grey-4);
  font-size: 16px;
  line-height: 1;
  color: var(--tj-white);
  padding: 14px 20px;
  border-radius: 8px;
  transition: all 0.3s 0s ease-out;
  outline: none;
  height: auto;
}
.contact-form input + small {
  color: #ff4d4d;
  display: none;
}






@media only screen and (max-width: 767px) {
  .first-fold-img{
    width: 300px !important;
    height: 321px;
  }
  .section-padY{
    padding: 50px 10px;
  }
  p, li {
    font-size: 0.9rem;
  }
  .hero-section {
    padding: 50px 0;
  }
  body::before {
    content: unset;
  }
  .contact-info-list-3 li > a, .contact-info-list-3 li > p {
    font-size: 16px;
  }
}